* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #e0ceab;
    font-family: "merriweather", serif;
    font-weight: 500;
    margin: auto;
    padding: auto;
    overflow: hidden;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: auto;
    padding: auto;
    margin: auto;
}

@keyframes batimentos {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}
#text {
    text-align: center;
    padding: auto;
    font-size: 5vh;
}
a {
    text-decoration: none;
    color: red;
}

.click-on-heart {
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
    width: auto; 
    height: auto; 
    text-decoration: none; 
}

.coracao-elemento {
    font-size: 40vh; 
    animation: batimentos 1s infinite; 
}

.coracao {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 2vh;
    color: #000000;
    padding: 10px 0;
    background-color: #e0ceab;
}
